{:paths ["src/main" "resources"]
 :deps {thheller/shadow-cljs {:mvn/version "2.23.3"}
        com.fulcrologic/fulcro {:mvn/version "3.6.4"}
        com.fulcrologic/fulcro-native {:mvn/version "0.0.11"}
        org.clojure/clojure           {:mvn/version "1.11.1"}
        org.clojure/clojurescript           {:mvn/version "1.11.60"}
        binaryage/devtools                  {:mvn/version "1.0.7"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}
 :aliases {:local-repl
           {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"},
                         mx.cider/tools.deps.enrich-classpath {:mvn/version "1.9.0"},
                         nrepl/nrepl {:mvn/version "1.1.0-alpha1"},
                         refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}},
            :main-opts ["-m" "nrepl.cmdline" "-b" "0.0.0.0" "-p" "8675" "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}
           :release
           {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
            :main-opts ["-m" "applied-science.deps-library"]}}}
